[submodule "client/vendor/subhook"]
	path = client/vendor/subhook
	url = https://github.com/Zeex/subhook
[submodule "client/vendor/discord-rpc"]
	path = client/vendor/discord-rpc
	url = https://github.com/discordapp/discord-rpc
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
